<section class="add-task">
    <form action="/add" method="POST">
        <input type="text" name="title" placeholder="New task" required>
        <button type="submit">Add task</button>
    </form>
</section>

<section class="task-list">
    <section class="task-filters">
    <a href="/">All</a> |
    <a href="/?filter=active">Active</a> |
    <a href="/?filter=completed">Completed</a>
    </section>

        {{#if hasTasks}}
        {{#each tasks}}
    <ul>
     
        <li>
            <form action="/toggle" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="checkbox" name="completed" onchange="this.form.submit()" {{#if this.completed}} checked {{/if}}/>
                <span class="{{#if this.completed}} completed {{/if}}">{{this.title}}</span>
            </form>
            <form action="/delete" method="POST" style="display:inline;">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
        {{/each}}
          {{else}}
         <p> No tasks yet! Start by adding one !</p>
        {{/if}}
</section>
