<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        {{#if user}}
        <h1>Welcome to Your To-Do list!</h1>
        {{else}}
         <h1>Welcome to Your To-Do list! Please login or register to start!</h1>
         {{/if}}
        <nav>
            <ul>
               {{#if user}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
               {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2025 To-Do App</p>
    </footer>
</body>
</html>
